<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>

<body>

    <style>
        div {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        
        div.mdl-cell.mdl-card.portfolio-card {
            border: 1px solid black;
        }
        
        a.mdl-button,
        button.mdl-button {
            border: 1px solid black];
            border-radius: 5px;
            background: #3273dc;
        }
        
        button.mdl-button {
            color: white;
            box-shadow: 1px 1px 1px black;
        }
        
        a.mdl-button {
            color: white;
            box-shadow: 2px 2px 2px black;
        }
        
        .entry {
            margin-left: 2.25rem;
        }
        
        .mdl-card__title-text {
            font-weight: bold;
        }
        
        .mdl-cell {
            background-color: #3aaf9f;
            box-shadow: 3px 3px 3px black;
        }
        
        .mdl-card__text {
            color: black;
        }
        
        legend {
            background-color: #000;
            color: #fff;
            padding: 3px 6px;
        }
    </style>

    <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base index">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
                <div class="mdl-layout__header-row portfolio-logo-row">
                    <!-- Navigation -->
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="/">Home</a>
                        <a class="mdl-navigation__link" href="/jobs">Jobs</a>
                        <a class="mdl-navigation__link" href="/search">Search</a>
                        <a class="mdl-navigation__link" href="/users/logout">Log out</a>
                    </nav>
                </div>
            </header>
        </div>

        <div class="search-ribbon searchContainer">
            <form method="GET">
                <br>
                <br>
                <br>
                <br>

                <div class="mdl-textfield entry">
                    <fieldset>
                        <legend>Job Title</legend>
                        <input class="mdl-textfield__input query-input" type="text" id="query" name="q" placeholder='Enter a Job Title or Keyword' required minlength='3' maxlength="30">
                        <label class="mdl-textfield__label" for="query"></label>
                    </fieldset>
                </div>
                <div class="mdl-textfield entry">
                    <fieldset>
                        <legend>Location</legend>
                        <input class="mdl-textfield__input query-input" type="text" id="query" name="l" placeholder='Enter a City, State, or Zip' required minlength='2' maxlength="50">
                        <label class="mdl-textfield__label" for="query"></label>
                    </fieldset>
                </div>
                <div class="mdl-textfield entry">
                    <fieldset>
                        <legend>Results by Page</legend>
                        <input class="mdl-textfield__input query-input" type="number" id="query" name="limit" placeholder='Enter a Numeric Value (1-100)'>
                        <label class="mdl-textfield__label" for="query"></label>
                    </fieldset>
                </div>
                <div class="mdl-textfield entry">
                    <fieldset>
                        <legend>Distance from Location</legend>
                        <input class="mdl-textfield__input query-input" type="number" id="query" name="radius" placeholder='Enter a Numeric Value (0-100 miles)'>
                        <label class="mdl-textfield__label" for="query"></label>
                    </fieldset>
                </div>

                <button type="submit" class="mdl-button query-button mdl-js-button">
                    <span class="material-icons">search</span>
                </button>

        </div>

        </div>
        <main class="mdl-layout__content">
            <div>
                {{# each jobs }}
                <div class="mdl-cell mdl-card portfolio-card">
                    <div class="mdl-card__media"></div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">{{ this.title }}</h2>
                    </div>
                    <div class="mdl-card__actions mdl-card--border"></div>
                    <div class="mdl-card__text">
                        {{ this.summary }}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{{ this.url }}">Job Link</a>
                    </div>
                </div>
                {{/each}}
            </div>

        </main>
        </div>
    </body>

</html>